*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-cell{
    width: calc(100% / 10);
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

